.hidden {
    display: none;
} 

.visible {
    display: block;
}

a {
    text-decoration: none;
}

img {
    width: 400px;
}

.info {
    display: flex;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}