@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

body {
    font-family: "Parisienne";
    font-size: 20px;
}


.hidden {
    display: none;
} 

.visible {
    display: block;
}



.photo-card {
    width: 350px;
}

a {
    text-decoration: none;

}

img {
    width: 100%;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: darkblue;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}