/* Common settings */

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

body {
    font-family: "Parisienne";
    font-size: 20px;
}

.hidden {
    display: none;
} 

.visible {
    display: block;
}

header, main, footer {
    padding-block: 25px;
}

/* Header (search form) settings */

form {
    margin-block: 25px;

    width: 500px;
    margin-inline: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

input {
    outline: none;
    border: 3px double darkgreen;
    border-radius: 5px;

    text-align: center;
    color: darkgreen;
    font-family: inherit;
    font-size: inherit;
}

button {
    border: 3px double darkred;
    border-radius: 5px;

    color: darkred;
    background-color: white;
    font-family: inherit;
    font-size: inherit;

    transition: 250ms;
}

button:hover {
    background-color: darkred;
    color: white;
}

/* Main (gallery) settings */

.photo-card {
    width: 350px;
}

a {
    text-decoration: none;

}

img {
    width: 100%;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: darkblue;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Footer (images adding section) settings */

.load-more-section {
    width: 500px;

    margin-inline: auto;

    display: flex;
    justify-content: center;
}

.no-more-loads {
    text-align: center;
    color: lightcoral;
}